@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  /* outline: 2px solid red; */
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
 
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
    background-color: #FFF2CC;
    padding: 0.5em;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;  
    margin-inline: 5em;
}

h1 {
    text-align: center;
    color: #553939;
}

h2 {
  text-align: center;
  color: #C74B50;
}

ul {
  margin-block-end: 2em;
}

ul, ol {
  list-style: none;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}

.recipe a,
.recipe a:visited {
  color: #46244C;
}

.recipe a:hover,
.recipe a:active {
  color: #FF8C00;
}

.recipe {
  margin-inline: auto;

}

.recipe__para {
  width: 65ch;
  color: #541212;
  font-size: 1.1rem;
  text-align: justify;
  margin-inline: auto;
  margin-block: 2em;
}


.list {
  margin-inline: 10em;
  font-size: 1.4rem;
  color: #2B2B2B;
}


.top,
.top:visited,
.top:hover,
.top:active {
  color: #16003B;
  font-size: 1.2rem;

}

.top:visited {
  color: #7C3AED;
}

.top:hover,
.top:active {
  color: #FF8C00;
}


.bold {
  font-weight: 700;

}

.return {
  display: flex;
  justify-content: center;
  gap: 3em;
  padding: 1.3em;
}
